---
export const prerender = false;

const countryCodes = [
  { code: "+971", flag: "🇦🇪", name: "United Arab Emirates" },
  { code: "+966", flag: "🇸🇦", name: "Saudi Arabia" },
  { code: "+974", flag: "🇶🇦", name: "Qatar" },
  { code: "+965", flag: "🇰🇼", name: "Kuwait" },
  { code: "+968", flag: "🇴🇲", name: "Oman" },
  { code: "+973", flag: "🇧🇭", name: "Bahrain" },
  { code: "+91", flag: "🇮🇳", name: "India" },
  { code: "+44", flag: "🇬🇧", name: "United Kingdom" },
  { code: "+1", flag: "🇺🇸", name: "United States" },
  { code: "+63", flag: "🇵🇭", name: "Philippines" },
  { code: "+92", flag: "🇵🇰", name: "Pakistan" },
  { code: "+93", flag: "🇦🇫", name: "Afghanistan" },
  { code: "+355", flag: "🇦🇱", name: "Albania" },
  { code: "+213", flag: "🇩🇿", name: "Algeria" },
  { code: "+1684", flag: "🇦🇸", name: "American Samoa" },
  { code: "+376", flag: "🇦🇩", name: "Andorra" },
  { code: "+244", flag: "🇦🇴", name: "Angola" },
  { code: "+1264", flag: "🇦🇮", name: "Anguilla" },
  { code: "+672", flag: "🇦🇶", name: "Antarctica" },
  { code: "+1268", flag: "🇦🇬", name: "Antigua and Barbuda" },
  { code: "+54", flag: "🇦🇷", name: "Argentina" },
  { code: "+374", flag: "🇦🇲", name: "Armenia" },
  { code: "+297", flag: "🇦🇼", name: "Aruba" },
  { code: "+61", flag: "🇦🇺", name: "Australia" },
  { code: "+43", flag: "🇦🇹", name: "Austria" },
  { code: "+994", flag: "🇦🇿", name: "Azerbaijan" },
  { code: "+1242", flag: "🇧🇸", name: "Bahamas" },
  { code: "+880", flag: "🇧🇩", name: "Bangladesh" },
  { code: "+1246", flag: "🇧🇧", name: "Barbados" },
  { code: "+375", flag: "🇧🇾", name: "Belarus" },
  { code: "+32", flag: "🇧🇪", name: "Belgium" },
  { code: "+501", flag: "🇧🇿", name: "Belize" },
  { code: "+229", flag: "🇧🇯", name: "Benin" },
  { code: "+1441", flag: "🇧🇲", name: "Bermuda" },
  { code: "+975", flag: "🇧🇹", name: "Bhutan" },
  { code: "+591", flag: "🇧🇴", name: "Bolivia, Plurinational State of bolivia" },
  { code: "+387", flag: "🇧🇦", name: "Bosnia and Herzegovina" },
  { code: "+267", flag: "🇧🇼", name: "Botswana" },
  { code: "+47", flag: "🇧🇻", name: "Bouvet Island" },
  { code: "+55", flag: "🇧🇷", name: "Brazil" },
  { code: "+246", flag: "🇮🇴", name: "British Indian Ocean Territory" },
  { code: "+673", flag: "🇧🇳", name: "Brunei Darussalam" },
  { code: "+359", flag: "🇧🇬", name: "Bulgaria" },
  { code: "+226", flag: "🇧🇫", name: "Burkina Faso" },
  { code: "+257", flag: "🇧🇮", name: "Burundi" },
  { code: "+855", flag: "🇰🇭", name: "Cambodia" },
  { code: "+237", flag: "🇨🇲", name: "Cameroon" },
  { code: "+1", flag: "🇨🇦", name: "Canada" },
  { code: "+238", flag: "🇨🇻", name: "Cape Verde" },
  { code: "+345", flag: "🇰🇾", name: "Cayman Islands" },
  { code: "+236", flag: "🇨🇫", name: "Central African Republic" },
  { code: "+235", flag: "🇹🇩", name: "Chad" },
  { code: "+56", flag: "🇨🇱", name: "Chile" },
  { code: "+86", flag: "🇨🇳", name: "China" },
  { code: "+61", flag: "🇨🇽", name: "Christmas Island" },
  { code: "+61", flag: "🇨🇨", name: "Cocos (Keeling) Islands" },
  { code: "+57", flag: "🇨🇴", name: "Colombia" },
  { code: "+269", flag: "🇰🇲", name: "Comoros" },
  { code: "+242", flag: "🇨🇬", name: "Congo" },
  { code: "+243", flag: "🇨🇩", name: "Congo, The Democratic Republic of the Congo" },
  { code: "+682", flag: "🇨🇰", name: "Cook Islands" },
  { code: "+506", flag: "🇨🇷", name: "Costa Rica" },
  { code: "+225", flag: "🇨🇮", name: "Cote d'Ivoire" },
  { code: "+385", flag: "🇭🇷", name: "Croatia" },
  { code: "+53", flag: "🇨🇺", name: "Cuba" },
  { code: "+357", flag: "🇨🇾", name: "Cyprus" },
  { code: "+420", flag: "🇨🇿", name: "Czech Republic" },
  { code: "+45", flag: "🇩🇰", name: "Denmark" },
  { code: "+253", flag: "🇩🇯", name: "Djibouti" },
  { code: "+1767", flag: "🇩🇲", name: "Dominica" },
  { code: "+1849", flag: "🇩🇴", name: "Dominican Republic" },
  { code: "+593", flag: "🇪🇨", name: "Ecuador" },
  { code: "+20", flag: "🇪🇬", name: "Egypt" },
  { code: "+503", flag: "🇸🇻", name: "El Salvador" },
  { code: "+240", flag: "🇬🇶", name: "Equatorial Guinea" },
  { code: "+291", flag: "🇪🇷", name: "Eritrea" },
  { code: "+372", flag: "🇪🇪", name: "Estonia" },
  { code: "+268", flag: "🇸🇿", name: "Eswatini" },
  { code: "+251", flag: "🇪🇹", name: "Ethiopia" },
  { code: "+500", flag: "🇫🇰", name: "Falkland Islands (Malvinas)" },
  { code: "+298", flag: "🇫🇴", name: "Faroe Islands" },
  { code: "+679", flag: "🇫🇯", name: "Fiji" },
  { code: "+358", flag: "🇫🇮", name: "Finland" },
  { code: "+33", flag: "🇫🇷", name: "France" },
  { code: "+594", flag: "🇬🇫", name: "French Guiana" },
  { code: "+689", flag: "🇵🇫", name: "French Polynesia" },
  { code: "+262", flag: "🇹🇫", name: "French Southern Territories" },
  { code: "+241", flag: "🇬🇦", name: "Gabon" },
  { code: "+220", flag: "🇬🇲", name: "Gambia" },
  { code: "+995", flag: "🇬🇪", name: "Georgia" },
  { code: "+49", flag: "🇩🇪", name: "Germany" },
  { code: "+233", flag: "🇬🇭", name: "Ghana" },
  { code: "+350", flag: "🇬🇮", name: "Gibraltar" },
  { code: "+30", flag: "🇬🇷", name: "Greece" },
  { code: "+299", flag: "🇬🇱", name: "Greenland" },
  { code: "+1473", flag: "🇬🇩", name: "Grenada" },
  { code: "+590", flag: "🇬🇵", name: "Guadeloupe" },
  { code: "+1671", flag: "🇬🇺", name: "Guam" },
  { code: "+502", flag: "🇬🇹", name: "Guatemala" },
  { code: "+44", flag: "🇬🇬", name: "Guernsey" },
  { code: "+224", flag: "🇬🇳", name: "Guinea" },
  { code: "+245", flag: "🇬🇼", name: "Guinea-Bissau" },
  { code: "+592", flag: "🇬🇾", name: "Guyana" },
  { code: "+509", flag: "🇭🇹", name: "Haiti" },
  { code: "+672", flag: "🇭🇲", name: "Heard Island and Mcdonald Islands" },
  { code: "+379", flag: "🇻🇦", name: "Holy See (Vatican City State)" },
  { code: "+504", flag: "🇭🇳", name: "Honduras" },
  { code: "+852", flag: "🇭🇰", name: "Hong Kong" },
  { code: "+36", flag: "🇭🇺", name: "Hungary" },
  { code: "+354", flag: "🇮🇸", name: "Iceland" },
  { code: "+62", flag: "🇮🇩", name: "Indonesia" },
  { code: "+98", flag: "🇮🇷", name: "Iran, Islamic Republic of Persian Gulf" },
  { code: "+964", flag: "🇮🇶", name: "Iraq" },
  { code: "+353", flag: "🇮🇪", name: "Ireland" },
  { code: "+44", flag: "🇮🇲", name: "Isle of Man" },
  { code: "+972", flag: "🇮🇱", name: "Israel" },
  { code: "+39", flag: "🇮🇹", name: "Italy" },
  { code: "+1876", flag: "🇯🇲", name: "Jamaica" },
  { code: "+81", flag: "🇯🇵", name: "Japan" },
  { code: "+44", flag: "🇯🇪", name: "Jersey" },
  { code: "+962", flag: "🇯🇴", name: "Jordan" },
  { code: "+7", flag: "🇰🇿", name: "Kazakhstan" },
  { code: "+254", flag: "🇰🇪", name: "Kenya" },
  { code: "+686", flag: "🇰🇮", name: "Kiribati" },
  { code: "+850", flag: "🇰🇵", name: "Korea, Democratic People's Republic of Korea" },
  { code: "+82", flag: "🇰🇷", name: "Korea, Republic of South Korea" },
  { code: "+383", flag: "🇽🇰", name: "Kosovo" },
  { code: "+996", flag: "🇰🇬", name: "Kyrgyzstan" },
  { code: "+856", flag: "🇱🇦", name: "Laos" },
  { code: "+371", flag: "🇱🇻", name: "Latvia" },
  { code: "+961", flag: "🇱🇧", name: "Lebanon" },
  { code: "+266", flag: "🇱🇸", name: "Lesotho" },
  { code: "+231", flag: "🇱🇷", name: "Liberia" },
  { code: "+218", flag: "🇱🇾", name: "Libyan Arab Jamahiriya" },
  { code: "+423", flag: "🇱🇮", name: "Liechtenstein" },
  { code: "+370", flag: "🇱🇹", name: "Lithuania" },
  { code: "+352", flag: "🇱🇺", name: "Luxembourg" },
  { code: "+853", flag: "🇲🇴", name: "Macao" },
  { code: "+389", flag: "🇲🇰", name: "Macedonia" },
  { code: "+261", flag: "🇲🇬", name: "Madagascar" },
  { code: "+265", flag: "🇲🇼", name: "Malawi" },
  { code: "+60", flag: "🇲🇾", name: "Malaysia" },
  { code: "+960", flag: "🇲🇻", name: "Maldives" },
  { code: "+223", flag: "🇲🇱", name: "Mali" },
  { code: "+356", flag: "🇲🇹", name: "Malta" },
  { code: "+692", flag: "🇲🇭", name: "Marshall Islands" },
  { code: "+596", flag: "🇲🇶", name: "Martinique" },
  { code: "+222", flag: "🇲🇷", name: "Mauritania" },
  { code: "+230", flag: "🇲🇺", name: "Mauritius" },
  { code: "+262", flag: "🇾🇹", name: "Mayotte" },
  { code: "+52", flag: "🇲🇽", name: "Mexico" },
  { code: "+691", flag: "🇫🇲", name: "Micronesia, Federated States of Micronesia" },
  { code: "+373", flag: "🇲🇩", name: "Moldova" },
  { code: "+377", flag: "🇲🇨", name: "Monaco" },
  { code: "+976", flag: "🇲🇳", name: "Mongolia" },
  { code: "+382", flag: "🇲🇪", name: "Montenegro" },
  { code: "+1664", flag: "🇲🇸", name: "Montserrat" },
  { code: "+212", flag: "🇲🇦", name: "Morocco" },
  { code: "+258", flag: "🇲🇿", name: "Mozambique" },
  { code: "+95", flag: "🇲🇲", name: "Myanmar" },
  { code: "+264", flag: "🇳🇦", name: "Namibia" },
  { code: "+674", flag: "🇳🇷", name: "Nauru" },
  { code: "+977", flag: "🇳🇵", name: "Nepal" },
  { code: "+31", flag: "🇳🇱", name: "Netherlands" },
  { code: "+687", flag: "🇳🇨", name: "New Caledonia" },
  { code: "+64", flag: "🇳🇿", name: "New Zealand" },
  { code: "+505", flag: "🇳🇮", name: "Nicaragua" },
  { code: "+227", flag: "🇳🇪", name: "Niger" },
  { code: "+234", flag: "🇳🇬", name: "Nigeria" },
  { code: "+683", flag: "🇳🇺", name: "Niue" },
  { code: "+672", flag: "🇳🇫", name: "Norfolk Island" },
  { code: "+1670", flag: "🇲🇵", name: "Northern Mariana Islands" },
  { code: "+47", flag: "🇳🇴", name: "Norway" },
  { code: "+680", flag: "🇵🇼", name: "Palau" },
  { code: "+970", flag: "🇵🇸", name: "Palestinian Territory, Occupied" },
  { code: "+507", flag: "🇵🇦", name: "Panama" },
  { code: "+675", flag: "🇵🇬", name: "Papua New Guinea" },
  { code: "+595", flag: "🇵🇾", name: "Paraguay" },
  { code: "+51", flag: "🇵🇪", name: "Peru" },
  { code: "+64", flag: "🇵🇳", name: "Pitcairn" },
  { code: "+48", flag: "🇵🇱", name: "Poland" },
  { code: "+351", flag: "🇵🇹", name: "Portugal" },
  { code: "+1939", flag: "🇵🇷", name: "Puerto Rico" },
  { code: "+262", flag: "🇷🇪", name: "Reunion" },
  { code: "+40", flag: "🇷🇴", name: "Romania" },
  { code: "+7", flag: "🇷🇺", name: "Russia" },
  { code: "+250", flag: "🇷🇼", name: "Rwanda" },
  { code: "+590", flag: "🇧🇱", name: "Saint Barthelemy" },
  { code: "+290", flag: "🇸🇭", name: "Saint Helena, Ascension and Tristan Da Cunha" },
  { code: "+1869", flag: "🇰🇳", name: "Saint Kitts and Nevis" },
  { code: "+1758", flag: "🇱🇨", name: "Saint Lucia" },
  { code: "+590", flag: "🇲🇫", name: "Saint Martin" },
  { code: "+508", flag: "🇵🇲", name: "Saint Pierre and Miquelon" },
  { code: "+1784", flag: "🇻🇨", name: "Saint Vincent and the Grenadines" },
  { code: "+685", flag: "🇼🇸", name: "Samoa" },
  { code: "+378", flag: "🇸🇲", name: "San Marino" },
  { code: "+239", flag: "🇸🇹", name: "Sao Tome and Principe" },
  { code: "+221", flag: "🇸🇳", name: "Senegal" },
  { code: "+381", flag: "🇷🇸", name: "Serbia" },
  { code: "+248", flag: "🇸🇨", name: "Seychelles" },
  { code: "+232", flag: "🇸🇱", name: "Sierra Leone" },
  { code: "+65", flag: "🇸🇬", name: "Singapore" },
  { code: "+421", flag: "🇸🇰", name: "Slovakia" },
  { code: "+386", flag: "🇸🇮", name: "Slovenia" },
  { code: "+677", flag: "🇸🇧", name: "Solomon Islands" },
  { code: "+252", flag: "🇸🇴", name: "Somalia" },
  { code: "+27", flag: "🇿🇦", name: "South Africa" },
  { code: "+500", flag: "🇬🇸", name: "South Georgia and the South Sandwich Islands" },
  { code: "+211", flag: "🇸🇸", name: "South Sudan" },
  { code: "+34", flag: "🇪🇸", name: "Spain" },
  { code: "+94", flag: "🇱🇰", name: "Sri Lanka" },
  { code: "+249", flag: "🇸🇩", name: "Sudan" },
  { code: "+597", flag: "🇸🇷", name: "Suriname" },
  { code: "+47", flag: "🇸🇯", name: "Svalbard and Jan Mayen" },
  { code: "+46", flag: "🇸🇪", name: "Sweden" },
  { code: "+41", flag: "🇨🇭", name: "Switzerland" },
  { code: "+963", flag: "🇸🇾", name: "Syrian Arab Republic" },
  { code: "+886", flag: "🇹🇼", name: "Taiwan" },
  { code: "+992", flag: "🇹🇯", name: "Tajikistan" },
  { code: "+255", flag: "🇹🇿", name: "Tanzania, United Republic of Tanzania" },
  { code: "+66", flag: "🇹🇭", name: "Thailand" },
  { code: "+670", flag: "🇹🇱", name: "Timor-Leste" },
  { code: "+228", flag: "🇹🇬", name: "Togo" },
  { code: "+690", flag: "🇹🇰", name: "Tokelau" },
  { code: "+676", flag: "🇹🇴", name: "Tonga" },
  { code: "+1868", flag: "🇹🇹", name: "Trinidad and Tobago" },
  { code: "+216", flag: "🇹🇳", name: "Tunisia" },
  { code: "+90", flag: "🇹🇷", name: "Turkey" },
  { code: "+993", flag: "🇹🇲", name: "Turkmenistan" },
  { code: "+1649", flag: "🇹🇨", name: "Turks and Caicos Islands" },
  { code: "+688", flag: "🇹🇻", name: "Tuvalu" },
  { code: "+256", flag: "🇺🇬", name: "Uganda" },
  { code: "+380", flag: "🇺🇦", name: "Ukraine" },
  { code: "+598", flag: "🇺🇾", name: "Uruguay" },
  { code: "+998", flag: "🇺🇿", name: "Uzbekistan" },
  { code: "+678", flag: "🇻🇺", name: "Vanuatu" },
  { code: "+58", flag: "🇻🇪", name: "Venezuela, Bolivarian Republic of Venezuela" },
  { code: "+84", flag: "🇻🇳", name: "Vietnam" },
  { code: "+1284", flag: "🇻🇬", name: "Virgin Islands, British" },
  { code: "+1340", flag: "🇻🇮", name: "Virgin Islands, U.S." },
  { code: "+681", flag: "🇼🇫", name: "Wallis and Futuna" },
  { code: "+967", flag: "🇾🇪", name: "Yemen" },
  { code: "+260", flag: "🇿🇲", name: "Zambia" },
  { code: "+263", flag: "🇿🇼", name: "Zimbabwe" },
  { code: "+358", flag: "🇦🇽", name: "Åland Islands" },
]

import ContactForm from '../components/ContactForm.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { marked } from 'marked';

const { slug } = Astro.params;

const strapiUrl = import.meta.env.STRAPI_URL || "http://localhost:1337";

// Fetch this specific post by slug
let post: any = null;
let relatedPosts: any[] = [];
let notFound = false;

try {
  const res = await fetch(
    `${strapiUrl}/api/index-blogs?filters[Slug][$eq]=${slug}&populate[0]=featuredImage&populate[1]=categories&populate[2]=faq`
  );
  if (res.ok) {
    const data = await res.json();
    if (data.data && data.data.length > 0) {
      const raw = data.data[0];
      post = {
        id: raw.id,
        title: raw.title || "Untitled",
        slug: raw.Slug || raw.slug || slug,
        content: marked.parse(raw.content || "", { breaks: true }),
        excerpt: raw.excerpt || "",
        authorName: raw.authorName || "Index Office Services",
        publishedDate: raw.publishedDate || raw.publishedAt || null,
        metaTitle: raw.metaTitle || raw.title || "Blog",
        metaDescription: raw.metaDescription || raw.excerpt || "",
        featuredImage: raw.featuredImage?.url
          ? `${strapiUrl}${raw.featuredImage.url}`
          : null,
        categories: (raw.categories || []).map((c: any) => c.name || c),
        faq: raw.faq || [],
      };

      // Fetch related posts (same category, exclude current)
      if (post.categories.length > 0) {
        const relRes = await fetch(
          `${strapiUrl}/api/index-blogs?filters[categories][name][$eq]=${encodeURIComponent(post.categories[0])}&filters[Slug][$ne]=${slug}&populate[0]=featuredImage&pagination[pageSize]=3`
        );
        if (relRes.ok) {
          const relData = await relRes.json();
          relatedPosts = (relData.data || []).map((item: any) => ({
            title: item.title,
            slug: item.Slug || item.slug,
            excerpt: item.excerpt || "",
            featuredImage: item.featuredImage?.url ? `${strapiUrl}${item.featuredImage.url}` : null,
            categories: (item.categories || []).map((c: any) => c.name || c),
          }));
        }
      }
    } else {
      notFound = true;
    }
  } else {
    notFound = true;
  }
} catch (e) {
  console.warn("Failed to fetch post:", e);
  notFound = true;
}

// If not found in Strapi, return 404
if (notFound || !post) {
  return Astro.redirect('/blogs/', 302);
}

function formatDate(dateStr: string | null) {
  if (!dateStr) return "";
  try {
    return new Date(dateStr).toLocaleDateString("en-AE", {
      year: "numeric",
      month: "long",
      day: "numeric",
    });
  } catch { return ""; }
}
---

<BaseLayout
  title={`${post.metaTitle} — Index Office Services`}
  description={post.metaDescription || post.excerpt}
>

<style>
  /* ── Layout ── */
  .post-layout { display: grid; grid-template-columns: 1fr 320px; gap: 48px; max-width: 1280px; margin: 0 auto; padding: 56px 24px 80px; align-items: start; }
  @media (max-width: 1100px) { .post-layout { grid-template-columns: 1fr; } .post-sidebar { display: none; } }

  /* ── Article typography ── */
  .post-content { font-size: 1.05rem; line-height: 1.85; color: #374151; }
  .post-content h2 { font-size: 1.7rem; font-weight: 800; color: #1A202C; margin: 2.4em 0 0.8em; line-height: 1.25; }
  .post-content h3 { font-size: 1.3rem; font-weight: 700; color: #1A202C; margin: 2em 0 0.7em; }
  .post-content h4 { font-size: 1.1rem; font-weight: 700; color: #2D3748; margin: 1.6em 0 0.6em; }
  .post-content p { margin: 0 0 1.4em; }
  .post-content ul, .post-content ol { padding-left: 1.6em; margin: 0 0 1.4em; }
  .post-content li { margin-bottom: 0.5em; }
  .post-content strong { color: #1A202C; font-weight: 700; }

  /* Force brand link styling regardless of inline styles from Strapi's rich text editor */
  .post-content a,
  .post-content a:link,
  .post-content a:visited {
    color: #38B2AC !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
    text-decoration-color: rgba(56,178,172,0.4) !important;
    text-decoration-thickness: 1.5px !important;
    text-underline-offset: 2px !important;
    transition: color 0.2s, text-decoration-color 0.2s;
  }
  .post-content a:hover {
    color: #2C9A94 !important;
    text-decoration-color: #2C9A94 !important;
  }

  .post-content blockquote { border-left: 4px solid #38B2AC; background: #F0FFFE; padding: 16px 20px; border-radius: 0 10px 10px 0; margin: 1.6em 0; font-style: italic; color: #2D3748; }
  .post-content img { max-width: 100%; border-radius: 12px; margin: 1.2em 0; }
  .post-content table { width: 100%; border-collapse: collapse; margin: 1.4em 0; font-size: 0.97rem; }
  .post-content th { background: #2D3748; color: #fff; padding: 10px 14px; text-align: left; font-weight: 700; }
  .post-content td { border: 1px solid #e5e7eb; padding: 10px 14px; }
  .post-content tr:nth-child(even) td { background: #F8FAFF; }
  .post-content hr { border: none; border-top: 1px solid #e0e7ef; margin: 2em 0; }

  /* ── Sidebar ── */
  .sidebar-card { background: #fff; border: 1px solid #e0e7ef; border-radius: 16px; padding: 24px; margin-bottom: 24px; }
  .sidebar-card h3 { font-size: 0.92rem; font-weight: 800; color: #1A202C; margin: 0 0 16px; text-transform: uppercase; letter-spacing: 0.07em; }
  .related-item { display: flex; gap: 12px; align-items: flex-start; padding: 10px 0; border-bottom: 1px solid #f0f4f8; text-decoration: none; color: inherit; transition: opacity 0.2s; }
  .related-item:last-child { border-bottom: none; }
  .related-item:hover { opacity: 0.72; }
  .related-img { width: 56px; height: 56px; border-radius: 10px; object-fit: cover; flex-shrink: 0; }

  /* ── FAQ ── */
  .faq-item { border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden; margin-bottom: 10px; }
  .faq-q { display: flex; align-items: center; justify-content: space-between; gap: 12px; padding: 16px 20px; font-weight: 700; font-size: 1rem; cursor: pointer; background: #fff; color: #1A202C; }
  .faq-a { display: none; padding: 0 20px 16px; font-size: 0.97rem; color: #4B5563; line-height: 1.75; }
  .faq-item.open .faq-a { display: block; }
  .faq-icon { font-size: 1.1rem; transition: transform 0.3s; flex-shrink: 0; }
  .faq-item.open .faq-icon { transform: rotate(45deg); }

  /* ── Breadcrumb ── */
  .breadcrumb { display: flex; align-items: center; gap: 6px; flex-wrap: wrap; font-size: 0.85rem; color: #9CA3AF; margin-bottom: 24px; }
  .breadcrumb a { color: #9CA3AF; text-decoration: none; }
  .breadcrumb a:hover { color: #38B2AC; }
  .breadcrumb-sep { color: #D1D5DB; }

  /* ── Hero meta row ── */
  .hero-meta-row {
    display: flex; align-items: center; justify-content: center;
    gap: 16px; flex-wrap: wrap; font-size: 0.85rem; color: #81E6D9;
    margin-top: 18px;
  }

  /* ── Comment form ── */
  .comment-form { background: #fff; border: 1px solid #e0e7ef; border-radius: 16px; padding: 28px; }
  .comment-form-row { display: grid; grid-template-columns: 1fr 1fr; gap: 16px; }
  @media (max-width: 600px) { .comment-form-row { grid-template-columns: 1fr; } }
  .comment-form-group { margin-bottom: 18px; display: flex; flex-direction: column; gap: 6px; }
  .comment-form-group label { font-size: 0.85rem; font-weight: 700; color: #2D3748; }
  .comment-form-group input,
  .comment-form-group textarea {
    border: 1px solid #d1d9e6; border-radius: 10px; padding: 11px 14px;
    font-size: 0.95rem; font-family: inherit; color: #1A202C;
    transition: border-color 0.2s;
  }
  .comment-form-group input:focus,
  .comment-form-group textarea:focus { outline: none; border-color: #38B2AC; }
  .comment-form-group textarea { resize: vertical; min-height: 100px; }
  .comment-submit-btn {
    background: #38B2AC; color: #fff; border: none; border-radius: 9999px;
    padding: 13px 28px; font-weight: 700; font-size: 0.95rem; cursor: pointer;
    transition: background 0.2s;
  }
  .comment-submit-btn:hover { background: #2C9A94; }
  .comment-submit-btn:disabled { opacity: 0.6; cursor: not-allowed; }
  .comment-form-status { margin-top: 14px; font-size: 0.9rem; font-weight: 600; }
  .comment-form-status.success { color: #2F855A; }
  .comment-form-status.error { color: #C53030; }

  .phone-input-row { display: flex; gap: 8px; }
  .phone-code-select {
    border: 1px solid #d1d9e6; border-radius: 10px; padding: 11px 8px;
    font-size: 0.95rem; font-family: inherit; color: #1A202C;
    background: #fff; max-width: 108px; flex-shrink: 0; cursor: pointer;
    transition: border-color 0.2s;
  }
  .phone-code-select:focus { outline: none; border-color: #38B2AC; }
  .phone-input-row input[type="tel"] { flex: 1; min-width: 0; }

  /* ── Featured image frame (no cropping) ── */
  .featured-img-frame {
    width: 100%;
    max-height: 520px;
    border-radius: 20px;
    box-shadow: 0 20px 56px rgba(26,32,44,0.2);
    overflow: hidden;
    background: #1A202C;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-img-frame img {
    width: 100%;
    height: 100%;
    max-height: 520px;
    object-fit: contain;
    display: block;
  }
</style>

<!-- ══ HERO BANNER (title only) ══ -->
<section style="background:#2D3748;padding:52px 24px 76px;position:relative;overflow:hidden;">
  <div style="position:absolute;inset:0;background-image:radial-gradient(rgba(56,178,172,0.16) 1px,transparent 1px);background-size:28px 28px;pointer-events:none;"></div>
  <div style="position:absolute;bottom:-60px;left:50%;transform:translateX(-50%);width:700px;height:300px;background:radial-gradient(ellipse,rgba(56,178,172,0.1) 0%,transparent 70%);pointer-events:none;"></div>
  <div style="max-width:860px;margin:0 auto;position:relative;z-index:1;text-align:center;">
    <!-- Categories -->
    {post.categories.map((cat: string) => (
      <a href="/blogs/" style="display:inline-block;background:#38B2AC;color:#fff;border-radius:9999px;font-size:0.72rem;font-weight:700;padding:4px 14px;text-transform:uppercase;letter-spacing:0.07em;margin:0 4px 14px;text-decoration:none;">{cat}</a>
    ))}
    <h1 style="font-size:clamp(1.6rem,4vw,2.8rem);font-weight:900;color:#fff;line-height:1.2;margin:0;">{post.title}</h1>
  </div>
</section>

<!-- ══ FEATURED IMAGE (full image, no crop) ══ -->
{post.featuredImage && (
  <div style="background:#F8FAFF;padding:0 24px;">
    <div style="max-width:900px;margin:0 auto;transform:translateY(-40px);">
      <div class="featured-img-frame">
        <img
          src={post.featuredImage}
          alt={post.title}
          loading="eager"
        />
      </div>
    </div>
  </div>
)}

<!-- ══ META (below image) ══ -->
<div style="background:#F8FAFF;padding:0 24px;">
  <div style="max-width:860px;margin:0 auto;text-align:center;padding-top:20px;">
    <div style="display:flex;align-items:center;justify-content:center;gap:16px;flex-wrap:wrap;font-size:0.85rem;color:#6B7280;">
      <span style="display:flex;align-items:center;gap:6px;">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
        {post.authorName}
      </span>
      {post.publishedDate && (
        <span style="display:flex;align-items:center;gap:6px;">
          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"/><line x1="16" y1="2" x2="16" y2="6"/><line x1="8" y1="2" x2="8" y2="6"/><line x1="3" y1="10" x2="21" y2="10"/></svg>
          {formatDate(post.publishedDate)}
        </span>
      )}
    </div>
  </div>
</div>

<!-- ══ ARTICLE + SIDEBAR ══ -->
<section style="background:#F8FAFF;position:relative;">
  <div style="position:absolute;inset:0;background-image:linear-gradient(rgba(45,55,72,0.02) 1px,transparent 1px),linear-gradient(90deg,rgba(45,55,72,0.02) 1px,transparent 1px);background-size:40px 40px;pointer-events:none;"></div>

  <div class="post-layout">

    <!-- LEFT: Article -->
    <article>
      <!-- Breadcrumb -->
      <nav class="breadcrumb" aria-label="Breadcrumb">
        <a href="/">Home</a>
        <span class="breadcrumb-sep">›</span>
        <a href="/blogs/">Blog</a>
        <span class="breadcrumb-sep">›</span>
        <span style="color:#1A202C;font-weight:600;">{post.title}</span>
      </nav>

      <!-- Rich text content from Strapi -->
      <div class="post-content" set:html={post.content} />

      <!-- FAQ section (if any) -->
      {post.faq && post.faq.length > 0 && (
        <div style="margin-top:48px;">
          <h2 style="font-size:1.6rem;font-weight:900;color:#1A202C;margin-bottom:20px;">Frequently Asked Questions</h2>
          <div id="postFaqList">
            {post.faq.map((f: any, i: number) => (
              <div class="faq-item" id={`pfaq-${i}`}>
                <button class="faq-q" onclick={`toggleFaq('pfaq-${i}')`} aria-expanded="false">
                  <span>{f.question || f.q}</span>
                  <span class="faq-icon">+</span>
                </button>
                <div class="faq-a">
                  <p>{f.answer || f.a}</p>
                </div>
              </div>
            ))}
          </div>
        </div>
      )}

      <!-- Comment Section -->
      <div style="margin-top:48px;">
        <h2 style="font-size:1.6rem;font-weight:900;color:#1A202C;margin-bottom:20px;">Leave a Comment</h2>
        <form id="blogCommentForm" class="comment-form">
          <input type="hidden" name="access_key" value="bd8bb28f-8085-4ff3-b697-aa316dd8a344" />
          <input type="hidden" name="subject" value={`New comment on: ${post.title}`} />
          <input type="hidden" name="blog_title" value={post.title} />
          <input type="hidden" name="blog_slug" value={post.slug} />
          <input type="checkbox" name="botcheck" style="display:none;" tabindex="-1" autocomplete="off" />

          <div class="comment-form-row">
            <div class="comment-form-group">
              <label for="commentName">Name</label>
              <input type="text" id="commentName" name="name" required placeholder="Your name" />
            </div>
          </div>

          <div class="comment-form-group">
            <label for="commentPhone">Phone Number</label>
            <div class="phone-input-row">
              <select id="commentCountryCode" class="phone-code-select" aria-label="Country code"></select>
              <input
                type="tel"
                id="commentPhone"
                required
                inputmode="numeric"
                pattern="[0-9]*"
                placeholder="5X XXX XXXX"
                maxlength="10"
              />
            </div>
            <input type="hidden" name="phone" id="commentPhoneFull" />
          </div>

          <div class="comment-form-group">
            <label for="commentMessage">Comment</label>
            <textarea id="commentMessage" name="message" required rows="4" placeholder="Share your thoughts..."></textarea>
          </div>

          <button type="submit" class="comment-submit-btn" id="commentSubmitBtn">
            Post Comment
          </button>

          <div id="commentFormStatus" class="comment-form-status"></div>
        </form>
      </div>

      <!-- CTA strip -->
      <div style="margin-top:48px;background:#2D3748;border-radius:20px;padding:32px;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;gap:20px;">
        <div>
          <p style="color:#38B2AC;font-size:0.78rem;font-weight:700;text-transform:uppercase;letter-spacing:0.1em;margin:0 0 6px;">Need Expert Help?</p>
          <p style="color:#fff;font-size:1.15rem;font-weight:800;margin:0;">Talk to our attestation experts today</p>
          <p style="color:#B2F5EA;font-size:0.9rem;margin:6px 0 0;">Free consultation — no obligation</p>
        </div>
        <a href="/contact" style="display:inline-flex;align-items:center;gap:8px;background:#38B2AC;color:#fff;padding:13px 26px;border-radius:9999px;font-weight:700;text-decoration:none;white-space:nowrap;flex-shrink:0;">
          Contact Us &rarr;
        </a>
      </div>

      <!-- Back to blogs -->
      <div style="margin-top:28px;">
        <a href="/blogs/" style="display:inline-flex;align-items:center;gap:8px;color:#6B7280;font-size:0.9rem;font-weight:600;text-decoration:none;">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H5M12 19l-7-7 7-7"/></svg>
          Back to all articles
        </a>
      </div>
    </article>

    <!-- RIGHT: Sidebar -->
    <aside class="post-sidebar">

      <!-- Quick enquiry form -->
      <div class="sidebar-card" style="background:#2D3748;border-color:#2D3748;">
        <h3 style="color:#38B2AC;">Free Consultation</h3>
        <p style="color:#B2F5EA;font-size:0.88rem;line-height:1.6;margin-bottom:16px;">Get expert guidance on attestation, PCC or business setup — no cost, no obligation.</p>
        <ContactForm />
      </div>

      <!-- Related posts -->
      {relatedPosts.length > 0 && (
        <div class="sidebar-card">
          <h3>Related Articles</h3>
          {relatedPosts.map(p => (
            <a href={`/${p.slug}/`} class="related-item">
              {p.featuredImage
                ? <img src={p.featuredImage} alt={p.title} class="related-img" loading="lazy" />
                : <div style="width:56px;height:56px;border-radius:10px;background:linear-gradient(135deg,#2D3748,#38B2AC);flex-shrink:0;"></div>
              }
              <div>
                <p style="font-size:0.85rem;font-weight:600;color:#1A202C;line-height:1.4;margin:0 0 4px;">{p.title}</p>
                {p.categories[0] && <span style="font-size:0.72rem;color:#38B2AC;font-weight:700;">{p.categories[0]}</span>}
              </div>
            </a>
          ))}
        </div>
      )}

      <!-- Share -->
      <div class="sidebar-card">
        <h3>Share This Article</h3>
        <div style="display:flex;gap:10px;flex-wrap:wrap;">
          <a
            id="shareWhatsApp"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display:inline-flex;align-items:center;gap:6px;background:#25D366;color:#fff;border-radius:9999px;padding:8px 16px;font-size:0.82rem;font-weight:700;text-decoration:none;"
          >
            <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"/></svg>
            WhatsApp
          </a>
          <a
            id="shareFacebook"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display:inline-flex;align-items:center;gap:6px;background:#1877F2;color:#fff;border-radius:9999px;padding:8px 16px;font-size:0.82rem;font-weight:700;text-decoration:none;"
          >
            <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/></svg>
            Facebook
          </a>
          <a
            id="shareLinkedIn"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display:inline-flex;align-items:center;gap:6px;background:#0A66C2;color:#fff;border-radius:9999px;padding:8px 16px;font-size:0.82rem;font-weight:700;text-decoration:none;"
          >
            <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg>
            LinkedIn
          </a>
        </div>
      </div>

    </aside>
  </div>
</section>

<script define:vars={{ countryCodes }}>
  const DEFAULT_CODE = '+971'; // UAE fallback, matches your site locale

  const commentForm = document.getElementById('blogCommentForm');
  const codeSelect = document.getElementById('commentCountryCode');
  const phoneInput = document.getElementById('commentPhone');
  const phoneFull = document.getElementById('commentPhoneFull');
  const submitBtn = document.getElementById('commentSubmitBtn');
  const statusEl = document.getElementById('commentFormStatus');

  // Strip any non-digit characters as the user types/pastes
  if (phoneInput) {
    phoneInput.addEventListener('input', () => {
      phoneInput.value = phoneInput.value.replace(/\D/g, '');
    });
  }

  if (codeSelect) {
    codeSelect.innerHTML = countryCodes
      .map(c => `<option value="${c.code}">${c.flag} ${c.code}</option>`)
      .join('');
    codeSelect.value = DEFAULT_CODE;

    (async () => {
      const applyDetectedCode = (callingCode) => {
        if (callingCode && [...codeSelect.options].some(o => o.value === callingCode)) {
          codeSelect.value = callingCode;
          return true;
        }
        return false;
      };

      // Try primary provider
      try {
        const res = await fetch('https://ipapi.co/json/');
        if (res.ok) {
          const geo = await res.json();
          if (applyDetectedCode(geo?.country_calling_code)) return;
          console.warn('ipapi.co: no usable country_calling_code in response', geo);
        } else {
          console.warn('ipapi.co responded with status', res.status);
        }
      } catch (err) {
        console.warn('ipapi.co lookup failed:', err);
      }

      // Fallback provider
      try {
        const res2 = await fetch('https://ipwho.is/');
        if (res2.ok) {
          const geo2 = await res2.json();
          const code2 = geo2?.calling_code ? `+${geo2.calling_code}` : null;
          if (applyDetectedCode(code2)) return;
          console.warn('ipwho.is: no usable calling_code in response', geo2);
        }
      } catch (err) {
        console.warn('ipwho.is lookup failed:', err);
      }

      console.warn('Country auto-detect failed on both providers — keeping default', DEFAULT_CODE);
    })();
  }

  if (commentForm) {
    commentForm.addEventListener('submit', async function (e) {
      e.preventDefault();

      // Combine code + number before reading form data
      if (codeSelect && phoneInput && phoneFull) {
        phoneFull.value = `${codeSelect.value} ${phoneInput.value}`.trim();
      }

      const formData = new FormData(commentForm);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);

      submitBtn.disabled = true;
      submitBtn.textContent = 'Posting...';
      statusEl.textContent = '';
      statusEl.className = 'comment-form-status';

      try {
        const res = await fetch('https://api.web3forms.com/submit', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json', Accept: 'application/json' },
          body: json,
        });
        const result = await res.json();
        if (result.success) {
          statusEl.textContent = 'Thanks! Your comment has been submitted.';
          statusEl.classList.add('success');
          commentForm.reset();
          codeSelect.value = DEFAULT_CODE;
        } else {
          statusEl.textContent = result.message || 'Something went wrong. Please try again.';
          statusEl.classList.add('error');
        }
      } catch (err) {
        statusEl.textContent = 'Network error. Please try again later.';
        statusEl.classList.add('error');
      } finally {
        submitBtn.disabled = false;
        submitBtn.textContent = 'Post Comment';
      }
    });
  }

  // Share URLs (set dynamically on client so URL is correct)
  const url = encodeURIComponent(window.location.href);
  const title = encodeURIComponent(document.title);
  const wa = document.getElementById('shareWhatsApp');
  const fb = document.getElementById('shareFacebook');
  const li = document.getElementById('shareLinkedIn');
  if (wa) wa.setAttribute('href', `https://wa.me/?text=${title}%20${url}`);
  if (fb) fb.setAttribute('href', `https://www.facebook.com/sharer/sharer.php?u=${url}`);
  if (li) li.setAttribute('href', `https://www.linkedin.com/sharing/share-offsite/?url=${url}`);

  // FAQ toggle
  function toggleFaq(id) {
    const item = document.getElementById(id);
    if (!item) return;
    const isOpen = item.classList.contains('open');
    document.querySelectorAll('.faq-item.open').forEach(el => el.classList.remove('open'));
    if (!isOpen) item.classList.add('open');
  }
  window.toggleFaq = toggleFaq;
</script>

</BaseLayout>